* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    background: yellow;
    height: 640px;}
.flex-item {
    color: white;
    width: 33.3% ;
    background: red;
}